<form [formGroup]="transactionForm" class="form-wrap">

  <div class="center-container">
    <mat-form-field appearance="outline">
      <mat-label>Select a date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  
  <div class="options">
    <button
      class="option-btn"
      [class.active]="activeTime === 'ALL'"
      (click)="selectTime('ALL')"
    >
      ALL
    </button>
    <button
      class="option-btn"
      [class.active]="activeTime === '14:00:00'"
      (click)="selectTime('14:00:00')"
    >
      2PM
    </button>
    <button
      class="option-btn"
      [class.active]="activeTime === '17:00:00'"
      (click)="selectTime('17:00:00')"
    >
      5PM
    </button>
    <button
      class="option-btn"
      [class.active]="activeTime === '21:00:00'"
      (click)="selectTime('21:00:00')"
    >
      9PM
    </button>
  </div>


  <div class="transaction-grid">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Draw Type</th>
          <th>Combination</th>
          <th>Target</th>
          <th>Ramble</th>
          <th>Gross</th>
          <th>Created By</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bet of paginatedBets">
          <td>{{ bet.drawType }}</td>
          <td>{{ bet.combination }}</td>
          <td>{{ bet.target }}</td>
          <td>{{ bet.ramble }}</td>
          <td>{{ bet.gross }}</td>
          <td>{{ bet.agent }}</td>
          <td>{{ bet.date }}</td>
          <td>
            <button (click)="deleteBet(bet.date,bet.ticketId)" class="btn btn-danger btn-sm">Delete</button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
