<div class="header-options">
    <table class="table-header">
      <tr>
        <td>
          <button
            class="option-btn"
            [class.active]="activeSection === 'play'"
            (click)="navigateTo('play')"
          >
            Play
          </button>
        </td>
        <td>
          <button
            class="option-btn"
            [class.active]="activeSection === 'transaction'"
            (click)="navigateTo('transaction')"
          >
            Transactions
          </button>
        </td>
        <td>
          <button
            class="option-btn"
            [class.active]="activeSection === 'dashboard'"
            (click)="navigateTo('dashboard')"
          >
            Dashboard
          </button>
        </td>
        <td>
          <button
            class="option-btn"
            [class.active]="activeSection === 'winners'"
            (click)="navigateTo('winners')"
          >
            Winners
          </button>
        </td>
        <td>
          <button
            class="option-btn"
            [class.active]="activeSection === 'cancelled'"
            (click)="navigateTo('cancelled')"
          >
          Cancelled
          </button>
        </td>
      </tr>
    </table>
  </div>