<div [ngClass]="{'modal': true, 'fade': true, 'show': isModalOpen}" tabindex="-1" role="dialog" [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{modalTitle}} {{modalWinner}}!</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()" style="position: absolute; top: 0; right: 10px; padding: 10px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>You won  {{prize}}</p>
            <p></p>
            <p></p>
          <p>Are you sure you want to remove {{modalWinner}} from the player list?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-danger" (click)="removePlayer()">Remove</button>
        </div>
      </div>
    </div>
  </div>
  